<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Should use CDNs in production -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
        integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" /> -->

    <link rel="stylesheet" href="css/bootstrap/4.4.1/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome/5.12.0/all.min.css" />
    <link rel="stylesheet" href="css/dice-app.css" />

    <title>My Dice Roller</title>
</head>

<body>
    <div class="container">
        <div id="app">
            <h1 class="d-none d-md-block text-center mage-title">Mage Dice Roller <button class="btn btn-sm btn-mage mb-2" data-toggle="modal" data-target="#help-modal"><i class="far fa-question-circle"></i></button> <button class="btn btn-sm btn-mage mb-2" v-on:click="settings"><i class="fas fa-cog"></i></button></h1>
            <h5 class="d-md-none text-center mage-title pt-1 pb-1">Mage Dice Roller <button class="btn btn-sm btn-mage pt-0 pb-0 mb-1" data-toggle="modal" data-target="#help-modal"><i class="far fa-question-circle"></i></button> <button class="btn btn-sm btn-mage pt-0 pb-0 mb-1"  v-on:click="settings"><i class="fas fa-cog"></i></button></h5>

            <div v-cloak>
                <div class="row mt-2 mb-2" v-show="!hideBotchAndTensButtons">
                    <div class="col">
                        <button class="btn btn-block btn-mage-inv font-weight-bold" v-on:click="botchModal('show')" v-bind:disabled="hideBotchAndTensButtons == true">Botch: {{botchText}}</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-block btn-mage-inv font-weight-bold" v-on:click="tensModal('show')" v-bind:disabled="hideBotchAndTensButtons == true">10s: {{tensText}}</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="btn-group d-flex">
                            <button class="btn font-weight-bold w-100"
                                v-bind:class="{ 'btn-mage-inv': appState == appStates.single, 'btn-outline-mage-inv': appState == appStates.extended }"
                                v-on:click="goToSingleState">
                                <span v-show="appState == appStates.single"><i class="fas fa-check"></i></span> Single Action
                            </button>
                            <button class="btn font-weight-bold w-100"
                                v-bind:class="{ 'btn-mage-inv': appState == appStates.extended, 'btn-outline-mage-inv': appState == appStates.single }"
                                v-on:click="goToExtendedState">
                                <span v-show="appState == appStates.extended"><i class="fas fa-check"></i></span> Extended Action
                            </button>
                        </div>
                    </div>
                </div>

                <div v-if="appState == appStates.single">
                    <single-action
                        :difficulty-min="difficultyMin" :difficulty-max="difficultyMax"
                        :threshold-min="thresholdMin" :threshold-max="thresholdMax"
                        :clamp="clamp"
                        :botch-options="botchOptions" :botch="botch"
                        :tens-options="tensOptions" :tens="tens"
                        :dice-roller="diceRoller"
                        v-on:show-botch-and-tens="showBotchAndTens"
                        v-on:hide-botch-and-tens="hideBotchAndTens"></single-action>
                </div>
                <div v-else-if="appState == appStates.extended">
                    <extended-action
                        :difficulty-min="difficultyMin" :difficulty-max="difficultyMax"
                        :num-rolls-min="2" :num-rolls-max="50"
                        :successes-needed-min="1" :successes-needed-max="100"
                        :clamp="clamp"
                        :botch-options="botchOptions" :botch="botch" :botch-text="botchText"
                        :tens-options="tensOptions" :tens="tens" :tens-text="tensText"
                        :dice-roller="diceRoller"
                        v-on:show-botch-and-tens="showBotchAndTens"
                        v-on:hide-botch-and-tens="hideBotchAndTens"></extended-action>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="botch-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose Botch Type</h5>
                            <button v-for="b in botchOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-mage-inv font-weight-bold': b.value == botch, 'btn-outline-mage-inv': b.value != botch }"
                                v-on:click="setBotch(b.value)">
                                <span v-if="b.value == botch"><i class="fas fa-check"></i> </span>
                                {{b.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="tens-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose 10s Type</h5>
                            <button v-for="t in tensOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-mage-inv font-weight-bold': t.value == tens, 'btn-outline-mage-inv': t.value != tens }"
                                v-on:click="setTens(t.value)">
                                <span v-if="t.value == tens"><i class="fas fa-check"></i> </span>
                                {{t.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="settings-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5><u>Settings</u></h5>
                            <div class="mt-1">
                                <h5 class="text-center">Botch Type <span v-show="hideBotchAndTensButtons" class="small text-muted"><br/> Can't change during extended roll</span></h5>
                                <div class="btn-group-vertical d-flex">
                                    <button v-for="b in botchOptions" class="btn"
                                        v-bind:class="{ 'btn-mage-inv font-weight-bold': b.value == botch, 'btn-outline-mage-inv': b.value != botch }"
                                        v-on:click="setBotch(b.value)" v-bind:disabled="hideBotchAndTensButtons == true">
                                        <span v-if="b.value == botch"><i class="fas fa-check"></i> </span>
                                        {{b.display}}
                                    </button>
                                </div>
                            </div>

                            <div class="mt-3">
                                <h5 class="text-center">10s Type  <span v-show="hideBotchAndTensButtons" class="small text-muted"><br/> Can't change during extended roll</span></h5>
                                <div class="btn-group-vertical d-flex">
                                    <button v-for="t in tensOptions" class="btn"
                                        v-bind:class="{ 'btn-mage-inv font-weight-bold': t.value == tens, 'btn-outline-mage-inv': t.value != tens }"
                                        v-on:click="setTens(t.value)" v-bind:disabled="hideBotchAndTensButtons == true">
                                        <span v-if="t.value == tens"><i class="fas fa-check"></i> </span>
                                        {{t.display}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="help-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Help</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Click <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0"><i class="fas fa-cog"></i></button> to change settings including botch and 10s rules.</p>
                            <p>Toggle between Single and Extended action types by clicking the <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Single</button> and <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Extended</button> buttons.</p>
                            <p>
                                Click
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">-</button> / <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0">-</button>
                                and
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">+</button> / <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0">+</button>
                                buttons to decrease or increase the corresponding number.
                            </p>
                            <p class="mt-2 mb-0 font-weight-bold"><u>Single Action</u></p>
                            <p>Click the <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0"><i class="fas fa-dice-d20"></i></button> button to roll the number of dice indicated and see the outcome.</p>
                            <p>Expand the history of rolls with the <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">History</button> button which becomes visible after the first roll. Clear history with the <button type="button" class="btn btn-mage-inv mt-1 pt-0 pb-0">Clear History</button> button.</p>
                            <p class="mt-2 mb-0 font-weight-bold"><u>Extended Action</u></p>
                            <p>
                                Click the
                                <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0"><i class="fas fa-dice-d20"></i></button>
                                button to start rolling. Once started click
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Normal</button>
                                or
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">With Willpower</button>
                                to roll dice with or without willpower applied, respectively.
                            </p>
                            <p>
                                If you accidentally roll the wrong type you can click 
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Remove</button>
                                to undo the last roll.
                            </p>
                            <p>
                                Click
                                <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Reset</button>
                                to start a new extended action.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- app -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- Should use CDNs in production -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"
        integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"
        integrity="sha256-0vuk8LXoyrmCjp1f0O300qo1M75ZQyhH9X3J6d+scmk=" crossorigin="anonymous"></script> -->
    
    <script src="js/jquery/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper/1.16.0/popper.min.js"></script>
    <script src="js/bootstrap/4.4.1/bootstrap.min.js"></script>
    <script src="js/vue/2.6.11/vue.min.js"></script>
    <!-- <script src="js/vue/2.6.11/vue.js"></script> -->
    <script src="js/font-awesome/5.12.0/all.min.js"></script>
    
    
    <script src="js/dice-roller.js?v=7"></script>
    <script src="js/single-action-component.js?v=7"></script>
    <script src="js/extended-action-component.js?v=7"></script>
    <script src="js/dice-app.js?v=7"></script>
</body>

</html>