<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
        integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/dice-app.css"/>

    <title>My Dice Roller</title>
</head>

<body>
    <div class="container">
        <h1 class="d-none d-md-block">Large placeholder</h1>
        <h5 class="d-md-none">Small placeholder</h5>
        <div id="app" v-cloak>
            <button v-for="b in botchOptions" class="btn btn-block btn-primary" v-if="b.value == botch"
                v-on:click="botchModal('show')">
                Botch: {{b.display}}
            </button>
            <button v-for="t in tensOptions" class="btn btn-block btn-primary" v-if="t.value == tens"
            v-on:click="tensModal('show')">
                10s: {{t.display}}
            </button>
            <div class="mt-2">
                Diff:
                <button class="btn btn-sm btn-primary" v-on:click="changeDifficulty(-1)">-1</button>
                {{difficulty}}
                <button class="btn btn-sm btn-primary" v-on:click="changeDifficulty(1)">+1</button>
            </div>
            <div class="mt-2">
                Thresh:
                <button class="btn btn-sm btn-primary" v-on:click="changeThreshold(-1)">-1</button>
                {{threshold}}
                <button class="btn btn-sm btn-primary" v-on:click="changeThreshold(1)">+1</button>
            </div>
            <div class="mt-2">
                # Dice:
                <button class="btn btn-sm btn-primary" v-on:click="changeNumDice(-5)">-5</button>
                <button class="btn btn-sm btn-primary" v-on:click="changeNumDice(-1)">-1</button>
                {{numDice}}
                <button class="btn btn-sm btn-primary" v-on:click="changeNumDice(1)">+1</button>
                <button class="btn btn-sm btn-primary" v-on:click="changeNumDice(5)">+5</button>
            </div>
            <div class="mt-2">
                <button class="btn btn-sm btn-primary" v-on:click="rollDice()">Roll</button>
            </div>
            <div>{{lastResult}}</div>

            <div class="row" v-if="lastResult != null">
                <div class="col">{{lastResult.finalSuccesses}}</div>
                <div class="col">{{lastResult.successes}}</div>
                <div class="col">{{lastResult.ones}}</div>
                <div class="col">
                    <span v-for="f in lastResult.rollOutcomesArray">
                        <span class="text-success" v-if="f == 10">{{f + ' '}}</span>
                        <span class="text-danger" v-else-if="f == 1">{{f + ' '}}</span>
                        <span v-else>{{f + ' '}}</span>
                    </span>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="botch-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose Botch Type</h5>
                            <button v-for="b in botchOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-primary': b.value == botch, 'btn-outline-primary': b.value != botch }"
                                v-on:click="setBotch(b.value)">
                                <span v-if="b.value == botch"><i class="fas fa-check"></i> </span>
                                {{b.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="tens-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose 10s Type</h5>
                            <button v-for="t in tensOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-primary': t.value == tens, 'btn-outline-primary': t.value != tens }"
                                v-on:click="setTens(t.value)">
                                <span v-if="t.value == tens"><i class="fas fa-check"></i> </span>
                                {{t.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"
        integrity="sha256-0vuk8LXoyrmCjp1f0O300qo1M75ZQyhH9X3J6d+scmk=" crossorigin="anonymous"></script>
    <script src="js/dice-app.js"></script>
</body>

</html>