<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
        integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/dice-app.css?v=2" />

    <title>My Dice Roller</title>
</head>

<body>
    <div class="container">
        <h1 class="d-none d-md-block text-center mage-title">Mage Dice Roller <button class="btn btn-sm btn-mage mb-2" data-toggle="modal" data-target="#help-modal"><i class="far fa-question-circle"></i></button></h1>
        <h5 class="d-md-none text-center mage-title pt-1 pb-1">Mage Dice Roller <button class="btn btn-sm btn-mage pt-0 pb-0 mb-1" data-toggle="modal" data-target="#help-modal"><i class="far fa-question-circle"></i></button></h5>
        <div id="app" v-cloak>
            <div class="row">
                <div class="col">
                    <button v-for="b in botchOptions" class="btn btn-block btn-mage-inv font-weight-bold" v-if="b.value == botch"
                        v-on:click="botchModal('show')">
                        Botch: {{b.display}}
                    </button>
                </div>
                <div class="col">
                    <button v-for="t in tensOptions" class="btn btn-block btn-mage-inv font-weight-bold" v-if="t.value == tens"
                        v-on:click="tensModal('show')">
                        10s: {{t.display}}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <div class="card border-mage">
                        <div class="card-body bg-mage p-1">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <span class="text-mage font-weight-bold">
                                        <span class="d-none d-sm-inline-block">Difficulty:</span>
                                        <div class="d-flex justify-content-center d-sm-none">Difficulty:</div>
                                    </span>
                                    <button class="btn btn-mage font-weight-bold" v-on:click="changeDifficulty(-1)">-1</button>
                                    <span class="text-mage font-weight-bold ml-1 mr-1">{{difficulty}}</span>
                                    <button class="btn btn-mage font-weight-bold" v-on:click="changeDifficulty(1)">+1</button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card border-mage">
                        <div class="card-body bg-mage p-1">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <span class="text-mage font-weight-bold">
                                        <span class="d-none d-sm-inline-block">Threshold:</span>
                                        <div class="d-flex justify-content-center d-sm-none">Threshold:</div>
                                    </span>
                                    <button class="btn btn-mage font-weight-bold" v-on:click="changeThreshold(-1)">-1</button>
                                    <span class="text-mage font-weight-bold ml-1 mr-1">{{threshold}}</span>
                                    <button class="btn btn-mage font-weight-bold" v-on:click="changeThreshold(1)">+1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="card border-mage">
                            <div class="card-body bg-mage p-1">
                                <button type="button" class="btn btn-mage-inv font-weight-bold" v-on:click="changeNumDice(-5)">-5</button type="button">
                                <button type="button" class="btn btn-mage-inv font-weight-bold" v-on:click="changeNumDice(-1)">-1</button type="button">
                                <button type="button" class="btn btn-mage font-weight-bold ml-2 mr-2" v-on:click="rollDice()">{{numDice}} <i class="fas fa-dice-d20"></i></span>
                                <button type="button" class="btn btn-mage-inv font-weight-bold" v-on:click="changeNumDice(1)">+1</button type="button">
                                <button type="button" class="btn btn-mage-inv font-weight-bold" v-on:click="changeNumDice(5)">+5</button type="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="lastResult">
                <h5 class="text-center mt-1 text-mage font-weight-bold">{{lastResult.outcome}}</h5>
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col">
                                <div class="card border-mage">
                                    <div class="card-body bg-mage p-1 text-mage">
                                        <span class="text-mage font-weight-bold">
                                            <span v-if="lastResult.botchType == 'original'">Outcome:</span>
                                            <span v-else>Successes:</span>
                                        </span> {{lastResult.finalSuccesses}}
                                    </div>
                                </div>
                            </div>
                            <div class="col" v-if="lastResult.botchType == 'original'">
                                <div class="card border-mage">
                                    <div class="card-body bg-mage p-1 text-mage">
                                        <span class="text-mage font-weight-bold">
                                            Successes:
                                        </span> {{lastResult.successes}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mt-1 mt-md-0">
                        <div class="row">
                            <div class="col">
                                <div class="card border-mage">
                                    <div class="card-body bg-mage p-1 text-mage">
                                        <span class="text-mage font-weight-bold">Ones:</span> {{lastResult.ones}}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-mage">
                                    <div class="card-body bg-mage p-1 text-mage">
                                        <span class="text-mage font-weight-bold">Dice:</span>
                                        <span v-for="f in lastResult.rollOutcomesArray">
                                            <span class="die-success" v-if="f >= lastResult.difficulty">{{f + ' '}}</span>
                                            <span class="die-one" v-else-if="f == 1">{{f + ' '}}</span>
                                            <span v-else>{{f + ' '}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around">
                <div v-show="results.length > 0">
                    <button class="btn btn-mage-inv mt-1 pt-0 pb-0 font-weight-bold" type="button" v-on:click="toggleHistory">
                        History
                        <span v-show="!showHistory"><i class="fas fa-chevron-right"></i></span>
                        <span v-show="showHistory"><i class="fas fa-chevron-down"></i></span>
                    </button>
                    <button type="button" class="btn btn-mage-inv mt-1 pt-0 pb-0" v-on:click="clearHistory">Clear History</button>
                </div>
                
            </div>

            <div v-show="showHistory && results.length > 0" class="card border-mage mt-1">
                <div class="card-body bg-mage p-1 text-mage">
                    <div class="history-holder">
                        <table class="table table-sm history-table mb-0">
                            <thead class="thead-mage-inv">
                                <tr>
                                    <th class="bt-0">Result</th>
                                    <th class="bt-0 text-center">Outcome</th>
                                    <th class="bt-0 text-center">Successes</th>
                                    <th class="bt-0 text-center">Ones</th>
                                    <th class="bt-0 text-center"># Dice</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="r in results" class="text-mage">
                                    <td>{{r.outcome}}</td>
                                    <td class="text-center"><span v-if="r.botchType == 'original'">{{r.finalSuccesses}}</span><span v-else>N/A</span></td>
                                    <td class="text-center">{{r.successes}}</td>
                                    <td class="text-center">{{r.ones}}</td>
                                    <td class="text-center">{{r.numDice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="botch-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose Botch Type</h5>
                            <button v-for="b in botchOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-mage-inv font-weight-bold': b.value == botch, 'btn-outline-mage-inv': b.value != botch }"
                                v-on:click="setBotch(b.value)">
                                <span v-if="b.value == botch"><i class="fas fa-check"></i> </span>
                                {{b.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="tens-picker">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="text-center">Choose 10s Type</h5>
                            <button v-for="t in tensOptions" class="btn btn-block"
                                v-bind:class="{ 'btn-mage-inv font-weight-bold': t.value == tens, 'btn-outline-mage-inv': t.value != tens }"
                                v-on:click="setTens(t.value)">
                                <span v-if="t.value == tens"><i class="fas fa-check"></i> </span>
                                {{t.display}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="help-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Help</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <div class="modal-body">
                            <p>Click the <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">Botch</button> or <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">10s</button> buttons to change the botch or 10s settings, respectively.</p>
                            <p>Click the <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">-</button> and <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">+</button> buttons to decrease or increase the corresponding number.</p>
                            <p>Click the <button type="button" class="btn btn-sm btn-mage font-weight-bold pt-0 pb-0"><i class="fas fa-dice-d20"></i></button> button to roll the number of dice indicated and see the outcome.</p>
                            <p>Expand the history of rolls with the <button type="button" class="btn btn-sm btn-mage-inv font-weight-bold pt-0 pb-0">History</button> button which becomes visible after the first roll. Clear history with the <button type="button" class="btn btn-mage-inv mt-1 pt-0 pb-0">Clear History</button> button.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"
        integrity="sha256-0vuk8LXoyrmCjp1f0O300qo1M75ZQyhH9X3J6d+scmk=" crossorigin="anonymous"></script>
    <script src="js/dice-app.js?v=2"></script>
</body>

</html>